@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);

.container {
    padding: 10px;
}
body {
    background: hsla(191, 95%, 34%, 1);

background: linear-gradient(315deg, hsla(191, 95%, 34%, 1) 0%, hsla(36, 99%, 47%, 1) 100%);

background: -moz-linear-gradient(315deg, hsla(191, 95%, 34%, 1) 0%, hsla(36, 99%, 47%, 1) 100%);

background: -webkit-linear-gradient(315deg, hsla(191, 95%, 34%, 1) 0%, hsla(36, 99%, 47%, 1) 100%);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    font-family: 'Outfit', sans-serif;
    height: 100%;
    align-items: center;
    justify-items: center;
}
#top-cont {
    background-color: #DEEFB7;
    border-radius: 10px;
}
h1 {
    text-align: center;
}

input {
    border-style: solid;
    border-radius: 10px;
}
.btn-primary {
    background-color: #32161f;
    border-color: #32161f;
    text-transform: uppercase;
    font-weight: 800;
}
.btn-primary:hover {
    background-color: #4E3C3B;
    border-color: #4E3C3B;
}
span {
    color: red;
}
.footer {
    margin-top: 10px;
    text-align: center;
}

@media (min-width: 768px) {
    #top-cont {
        margin-top: 50px;
    }
}