.container {
    padding: 20px;
}
body {
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
}
#top-cont {
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
}
h1 {
    text-align: center;
}

input {
    border-style: solid;
    border-radius: 5px;
}